######################################################################
#                      REWRITE CONFIGURATION                         #
######################################################################

begin rewrite
*@* {{ email }} Ffr
